.u-font-size-20px {
	font-size: 1.25rem !important;
}

.u-font-size-16px {
	font-size: 1rem !important;
}

.u-font-size-18px {
	font-size: 1.125rem;
}

.u-font-size-14px {
	font-size: 0.875rem !important;
}

.u-font-size-12px {
	font-size: 0.75rem !important;
}
