.burger-menu {
	height: 20px;
	width: 35px;
	cursor: pointer;
	div {
		width: 100%;
		height: 2px;
		background: $color-default;
	}
}

@media screen and (max-width: $lg) {
	.burger-menu {
		display: flex !important;
		flex-direction: column;
		justify-content: space-between;
	}
}