.header-bottom {
	min-height: 132px;
	padding: 2px 0;
}

@media  screen and (max-width: $lg) {
	.header-bottom {
		min-height: 95px;
	}
}

@media  screen and (max-width: $sm) {
	.header-bottom {
		min-height: 70px;
	}
}
