.option {

	&__img {
		max-width: 100%;
		min-height: 320px;
		object-fit: contain;
	}

	&__text {
		margin: 35px 0 0 0;
		color: $color-white;
		font-size: 1.25rem;
		padding: 0 0 0 16px;
		border-left: 3px solid $color-white;
		transition: all .4s;

		&:hover {
			color: $color-white;
			text-decoration: underline;
		}
	}
}

@media screen  and (max-width: $xl) {
	.option {
		&__text {
			font-size: 1rem;
			margin: 10px 0 10px 0;
			padding: 0 0 0 7px;
		}
	}
}

@media screen  and (max-width: $lg) {
	.option {

		&__img {
			min-height: 200px;
		}
	}
}

// @media screen  and (max-width: $sm)  {
// 	.option {
// 	}
// }