/* roboto-100 - cyrillic_latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Roboto";
	font-style: normal;
	font-weight: 100;
	src: url("../../fonts/roboto/roboto-v30-cyrillic_latin-100.eot"); /* IE9 Compat Modes */
	src: url("/templates/static/fonts/roboto/roboto-v30-cyrillic_latin-100.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */
			url("/templates/static/fonts/roboto/roboto-v30-cyrillic_latin-100.woff2")
			format("woff2"),
		/* Super Modern Browsers */
			url("/templates/static/fonts/roboto/roboto-v30-cyrillic_latin-100.woff")
			format("woff"),
		/* Modern Browsers */
			url("/templates/static/fonts/roboto/roboto-v30-cyrillic_latin-100.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("/templates/static/fonts/roboto/roboto-v30-cyrillic_latin-100.svg#Roboto")
			format("svg"); /* Legacy iOS */
}
/* roboto-300 - cyrillic_latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: url("/templates/static/fonts/roboto/roboto-v30-cyrillic_latin-300.eot"); /* IE9 Compat Modes */
	src: url("/templates/static/fonts/roboto/roboto-v30-cyrillic_latin-300.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */
			url("/templates/static/fonts/roboto/roboto-v30-cyrillic_latin-300.woff2")
			format("woff2"),
		/* Super Modern Browsers */
			url("/templates/static/fonts/roboto/roboto-v30-cyrillic_latin-300.woff")
			format("woff"),
		/* Modern Browsers */
			url("/templates/static/fonts/roboto/roboto-v30-cyrillic_latin-300.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("/templates/static/fonts/roboto/roboto-v30-cyrillic_latin-300.svg#Roboto")
			format("svg"); /* Legacy iOS */
}
/* roboto-regular - cyrillic_latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: url("/templates/static/fonts/roboto/roboto-v30-cyrillic_latin-regular.eot"); /* IE9 Compat Modes */
	src: url("/templates/static/fonts/roboto/roboto-v30-cyrillic_latin-regular.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */
			url("/templates/static/fonts/roboto/roboto-v30-cyrillic_latin-regular.woff2")
			format("woff2"),
		/* Super Modern Browsers */
			url("/templates/static/fonts/roboto/roboto-v30-cyrillic_latin-regular.woff")
			format("woff"),
		/* Modern Browsers */
			url("/templates/static/fonts/roboto/roboto-v30-cyrillic_latin-regular.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("/templates/static/fonts/roboto/roboto-v30-cyrillic_latin-regular.svg#Roboto")
			format("svg"); /* Legacy iOS */
}
/* roboto-500 - cyrillic_latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: url("/templates/static/fonts/roboto/roboto-v30-cyrillic_latin-500.eot"); /* IE9 Compat Modes */
	src: url("/templates/static/fonts/roboto/roboto-v30-cyrillic_latin-500.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */
			url("/templates/static/fonts/roboto/roboto-v30-cyrillic_latin-500.woff2")
			format("woff2"),
		/* Super Modern Browsers */
			url("/templates/static/fonts/roboto/roboto-v30-cyrillic_latin-500.woff")
			format("woff"),
		/* Modern Browsers */
			url("/templates/static/fonts/roboto/roboto-v30-cyrillic_latin-500.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("/templates/static/fonts/roboto/roboto-v30-cyrillic_latin-500.svg#Roboto")
			format("svg"); /* Legacy iOS */
}
/* roboto-700 - cyrillic_latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: url("/templates/static/fonts/roboto/roboto-v30-cyrillic_latin-700.eot"); /* IE9 Compat Modes */
	src: url("/templates/static/fonts/roboto/roboto-v30-cyrillic_latin-700.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */
			url("/templates/static/fonts/roboto/roboto-v30-cyrillic_latin-700.woff2")
			format("woff2"),
		/* Super Modern Browsers */
			url("/templates/static/fonts/roboto/roboto-v30-cyrillic_latin-700.woff")
			format("woff"),
		/* Modern Browsers */
			url("/templates/static/fonts/roboto/roboto-v30-cyrillic_latin-700.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("/templates/static/fonts/roboto/roboto-v30-cyrillic_latin-700.svg#Roboto")
			format("svg"); /* Legacy iOS */
}
/* roboto-900 - cyrillic_latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	src: url("/templates/static/fonts/roboto/roboto-v30-cyrillic_latin-900.eot"); /* IE9 Compat Modes */
	src: url("/templates/static/fonts/roboto/roboto-v30-cyrillic_latin-900.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */
			url("/templates/static/fonts/roboto/roboto-v30-cyrillic_latin-900.woff2")
			format("woff2"),
		/* Super Modern Browsers */
			url("/templates/static/fonts/roboto/roboto-v30-cyrillic_latin-900.woff")
			format("woff"),
		/* Modern Browsers */
			url("/templates/static/fonts/roboto/roboto-v30-cyrillic_latin-900.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("/templates/static/fonts/roboto/roboto-v30-cyrillic_latin-900.svg#Roboto")
			format("svg"); /* Legacy iOS */
}
