$color-default: #333;
$color-primary: #006633;
$color-primary-hover: #008847;
$color-secondary: #FFC700;
$color-secondary-hover: #FFD600;

$color-white: #ffffff;
$color-gray: #333333;

$color-text: #333333;

$border-radius-btn: 0px 0px 5px 5px;